.Login_TextBox {
    -fx-background-color: #78A083;
    -fx-text-fill: #1f1f1f;
    -fx-border-color: #344955;
    -fx-border-radius: 5 5 5 5;
}

.Login_TextBox:hover {
    -fx-text-fill: #000000;
}

.Login_Button {
    -fx-background-color: #78A083;
    -fx-background-radius: 10;
}

.Login_Background {
    -fx-border-color: #030303;
}

.Background_Colors {
    -fx-background-color: #414141;
}

.MineBackground_Colors {
    -fx-background-color: #50727B;
    -fx-background-radius: 10;
}