.Login_TextBox {
    -fx-background-color: #f4ebeb;
    -fx-text-fill: #1f1f1f;
    -fx-border-color: #423036;
    -fx-border-radius: 5 5 5 5;
}

.Login_TextBox:hover {
    -fx-text-fill: #000000;
}

.Login_Button {
    -fx-background-color: #c7a9b3;
    -fx-background-radius: 10;
}

.Login_Background {
    -fx-border-color: #030303;
}

.Background_Colors {
    -fx-background-color: #414141;
}

.MineBackground_Colors {
    -fx-background-color: #927a8d;
    -fx-background-radius: 10;
    -fx-border-color: #423036;
}